body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

.container{
  height: 100vh;
}


#light{
  background: linear-gradient(112.88deg, #E8F0FD 0.62%, #FFFFFF 99.93%);
}

#dark{
  background: linear-gradient(180deg, rgb(31, 40, 74) 0%, rgb(7, 11, 23) 100%);
}